header {
    margin: 0px;
    font-size: 0px;
}

a {
  margin-left: 30px;
}

nav.nav-pills {
  float: right;
  width: 100%;
}

li {
  float: right;
  margin: 10px;
}

.background {
  width: 100%;
  z-index: 1;
  margin: 0;
  height: 750px;
  display: block;
  position: absolute;
  margin-top: 49px;
}

.title {
  z-index: 2;
  position: relative;
  display: block;
}

.col-md-12 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 325px;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-size: 40px;
}

main {
  display: inline-block;
  width: 50%;
  height: 300px;
  background-color: darkgray;
}

.image {
  width: 50%;
  height: 900px;
  background-color: lightblue;
  z-index: 10;
}

@media screen and (max-width: 480px) {
  nav {
    height: auto;
  }

  li {
    width: 100%;
    display: block;
    margin: 0 10px 10px 10px;
  }

  .image {
    float: none;
    width: 100%;
  }

  main {
    width: 100%;
  }
}
