header {
    margin: 0px;
    font-size: 0px;
}

.name {
  color: white;
}

.row {
  background-color: red;
  height: 100px;
}



.background {
  width: 100%;
  z-index: 1;
  margin: auto;
  height: 715px;
}

main {
  display: inline-block;
  width: 50%;
  height: 300px;
  background-color: darkgray;
}

.image {
  width: 50%;
  height: 300px;
  background-color: lightblue;
  z-index: 10;
}

@media screen and (max-width: 480px) {
  nav {
    height: auto;
  }

  li {
    width: 100%;
    display: block;
    margin: 0 10px 10px 10px;
  }

  .image {
    float: none;
    width: 100%;
  }

  main {
    width: 100%;
  }
}
