body {
  margin: 0px;
  font-size: 0;
}

nav {
  margin: auto;
  background-color: blue;
  overflow: auto;
  padding: 0;
  height: 40px;
}

ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px black;
}

li {
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  width: 50%;
  padding: 10px 0 0 0;
  text-align: center;
}

a {
    color: white;
    text-decoration: none;
}
